* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  min-height: 100svh;
  display: grid;
  align-content: center;
  justify-content: center;
}

main {
  padding-inline: 3rem;
}

main p {
  letter-spacing: .15rem;
  font-weight: 900;
}

main .word {
  padding-block: 0 1rem;
}

main .figure {
  padding-block: 0 .6rem;
}

footer {
  text-align: center;
}

footer p {
  left: 50%;
  bottom: 3%;
  opacity: .3;
  font-size: .7rem;
  position: absolute;
  translate: -50% -50%;
}